/*-- scss:defaults --*/

// use litera as the base
$theme: "litera" !default;

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

// fonts
$font-family-sans-serif: Figtree, Helvetica, sans-serif !default;
$font-family-monospace: "Fira Mono", monospace;
$headings-font-family: Figtree, Helvetica, sans-serif !default;

// warmer grays (hue 240)
$white:    #fff !default;
$gray-100: #F8F8FA !default;
$gray-200: #E9E9EF !default;
$gray-300: #DCDCE6 !default;
$gray-400: #CECEDA !default;
$gray-500: #ADADBD !default;
$gray-600: #868696 !default;
$gray-700: #494957 !default;
$gray-800: #343440 !default;
$gray-900: #1b1a21 !default;
$black:    #000 !default;

//  my colors (comment out above)
$primary:       #5328a8 !default;
$primary-dark:  #3e1e7d !default;
$primary-light: #b590ff !default;
$secondary:     #4f63e3 !default;
$secondary-dark:#2e3b8e !default;
$secondary-light:#c1c9ff !default;
$success:       #00D46A !default;
$info:          #00D4D4 !default;
$warning:       #D46A00 !default;
$danger:        #D40000 !default;
$light:         $white !default;
$dark:          $gray-900 !default;

$second-color:  #4f63e3;
$third-color:   $info;

// font sizes;
$font-size-base:   1rem; //!default; // Assumes the browser default, typically `16px`
$h1-font-size:     $font-size-base * 2.5 !default;
$h2-font-size:     $font-size-base * 2 !default;
$h3-font-size:     $font-size-base * 1.75 !default;
$h4-font-size:     $font-size-base * 1.5 !default;
$h5-font-size:     $font-size-base * 1.25 !default;
$h6-font-size:     $font-size-base !default;

// colour tweaks to theme
$body-bg: $light;
$body-color: $dark;
$navbar-bg: $gray-900;
$navbar-fg: $gray-100;
$code-bg: $light;
$code-color: $second-color;
$card-bg: $body-bg;
$card-border-color: $gray-300;

#fn1 > p > code {
  font-size: 0.8rem;
}

#fn2 > p > code {
  font-size: 0.8rem;
}

#fn3 > p > code {
  font-size: 0.8rem;
}

#fn4 > p > code {
  font-size: 0.8rem;
}

#fn5 > p > code {
  font-size: 0.8rem;
}

#fn6 > p > code {
  font-size: 0.8rem;
}

code {
  font-feature-settings: 'dlig' 0, 'liga' 0, 'calt' 1, 'zero' 1, 'ss02' 0;
}

code span.co {
  font-family: "MonoLisa-RegularItalic", "Fira Mono", monospace;
}

h1 code {
  font-size: $h1-font-size;
}

h2 code {
  font-size: $h2-font-size;
}

h3 code {
  font-size: $h3-font-size;
}

h4 code {
  font-size: $h4-font-size;
}

h5 code {
  font-size: $h5-font-size;
}

h6 code {
  font-size: $h6-font-size;
}

// callouts
// $callout-color-note: $blue;
// $callout-color-tip: $darker-green;
// $callout-color-caution: $purple;
// $callout-color-warning: $orange;
// $callout-color-important: $red;

/*-- scss:rules --*/

// color classes
.primary {
  color: $primary;
}

// code
pre.sourceCode {
  border-radius: 0;
  border-left-color: $gray-300;
}

// links
a {
  color: $body-color;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  //text-underline-offset: .1rem;
  //text-underline-position: under;
}

a:hover {
  color: $primary;
  text-decoration-color: $primary;
}

.toc-actions a {
  text-decoration: none !important;  
  border-bottom: 0;
}

.toc-actions a:hover {
  color: $primary;
}

div.tippy-content a:hover {
  text-decoration-color: $primary;
}

// navbar
// .navbar-title {
//   font-size: $font-size-base * 1.5;
// }

.navbar-logo {
  max-height: 70px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.navbar-nav .nav-link {
  color: $navbar-fg;
}

.navbar-nav .nav-link:hover {
  color: $primary-light;
}

// .navbar-brand>img {
//   max-height: 60px;
//   width: auto;
//   // padding-left: 5px;
//   // padding-top: -5px;
//   // padding-bottom: -5px;
//   // padding-right: 30px;
// }

.navbar {
  height: 90px;
}


// header styles (more in ek-styles.css)
#quarto-header {
  font-family: $headings-font-family;
}

// for cards on home page

.callout-card-1 {
  background-color: rgba($secondary-dark, 0.7);
  color: white; /* ensure the text is white on the primary background */

  a {
    color: $secondary-light;
    text-decoration: underline;
  }

  a:hover {
    color: $primary;
  }
}

.callout-card-2 {
  background-color: $body-bg;
  color: $body-color; /* ensure the text is white on the primary background */
}

.callout-card-3 {
  background-color: rgba($primary-dark, 0.7);
  color: white; /* ensure the text is white on the primary background */
}

// #card-second-color {
//   background-color: $body-bg;
//   border: 4px solid $second-color;
//   border-radius: 5px; 
// }

// #card-third-color {
//   background-color: $body-bg;
//   border: 4px solid $third-color;
//   border-radius: 5px; 
// }

// .card-card-1-link {
//     background-color: $primary;
//     color: $body-bg;
//     border: 4px solid $primary;
//     border-color: $primary;
//     padding: 5px .5rem 5px .5rem !important;
//     margin: 0;
//     border-radius: 5px; 
//     display: inline-block;
//     text-decoration: none;  
//     font-size: $h5-font-size;
// }

// .card-link:hover {
//   background-color: $body-bg;
//   color: $primary;
// }

// .second-color-link{
//     background-color: $second-color;
//     border-color: $second-color;
//     color: $body-bg;
// }

// .second-color-link:hover {
//   color: $second-color;
//   border-color: $second-color;
// }

// .third-color-link{
//     background-color: $third-color;
//     border-color: $third-color;
//     color: $body-bg;
// }

// .third-color-link:hover {
//   color: $third-color;
//   border-color: $third-color;
// }



